.MiniMap {
    position: absolute;
    display: block;
    top: 3.75%;
    left: 3.75%;

    width: 92.5%;
    height: 92.5%;
    background-image: url('../../assets/minimap/Minimap_7.23.png');
    background-size: contain;

}