

::placeholder{
	color: azure;
}

input:focus::-webkit-input-placeholder{
	color: transparent;
}

.button {
	margin: 2px 4px;
}

.FileSelect {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	width: 1px;
	height: 1px;
}

input[type="file"] + label {
	display: inline-block;
	margin-left: 2em;
	background-color: #0099ff;
	border: none;
	color: azure;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	border-radius: 8px;
	transition-duration: .2s;
	margin-left: 2em;

}

input[type="file"]+ label:hover {
	background-color: azure;
	border-color: #0099ff;
	color: #0099ff;
}

.IdSelect {
	display: inline-block;
	placeholder-color: azure;
	background-color: #0099ff;
	border-color: #0099ff;
	border: none;
	color: azure;
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
	border-radius: 8px;
	margin-left: 2em;
}


/* SubmitReplay */
.SubmitReplay {
	background-color: #0099ff;
	border: none;
	color: azure;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	border-radius: 8px;
	transition-duration: .2s;
}

.SubmitReplay:hover {
	background-color: azure;
	border-color: #0099ff;
	color: #0099ff;
}